<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- action -->
	<bean id="salChanceAction" class="org.jb.crm.sale.action.SalChanceAction" scope="prototype">
		<property name="salChanceService" ref="salChanceService" />
		<property name="sysUserService" ref="sysUserService" />
	</bean>
	
	
	<bean id="salPlanAction" class="org.jb.crm.sale.action.SalPlanAction" scope="prototype">
		<property name="salChanceService" ref="salChanceService" />
		<property name="salPlanService" ref="salPlanService" />
		<property name="cstCustomerService" ref="cstCustomerService" />
	</bean>
	

	<!-- service -->
	<bean id="salPlanService" class="org.jb.crm.sale.service.impl.SalPlanServiceImpl">
		<property name="salPlanDao" ref="salPlanDao" />
		<property name="mapper" ref="mapper"></property>
	</bean>
	<bean id="salChanceService" class="org.jb.crm.sale.service.impl.SalChanceServiceImpl">
		<property name="salChanceDao" ref="salChanceDao" />
		<property name="mapper" ref="mapper"></property>
	</bean>
	
	
	<!-- dao -->
	<bean id="salPlanDao" class="org.jb.crm.sale.dao.impl.SalPlanDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="salChanceDao" class="org.jb.crm.sale.dao.impl.SalChanceDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>


</beans>